<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562941027969-mp11n2oik6k8apkubvtu9blv54nqi2ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562941027969-mp11n2oik6k8apkubvtu9blv54nqi2ch</string>
	<key>API_KEY</key>
	<string>AIzaSyDcLkJzipGX-X8VrbJ7l2vyBhPe_qYL1Fs</string>
	<key>GCM_SENDER_ID</key>
	<string>562941027969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tikitakamobile.Football-API</string>
	<key>PROJECT_ID</key>
	<string>bestpractices-4323a</string>
	<key>STORAGE_BUCKET</key>
	<string>bestpractices-4323a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562941027969:ios:fa168395cfc0f099aa4f80</string>
</dict>
</plist>