<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>X-RapidAPI-Host</key>
	<string>api-football-v1.p.rapidapi.com</string>
	<key>X-RapidAPI-Key</key>
	<string>144d8f8935msh73e730b7fa245cfp1ea48ajsn45c6ef3f9585</string>
	<key>test</key>
	<string>test</string>
</dict>
</plist>
